:root{

    /*color*/
    --bg-img:url('../img/bg.webp');
    --brown:rgb(50, 42, 36);
    --orange: rgb(229, 171, 80);
    --grey:rgb(27, 27, 27);
    --light-grey:rgb(149, 149, 149);
    --black:black;
    --white:white;
    --trans-dark:rgba(44, 44, 44, 0.319);

    /* measurement*/
    --height:800px;
    --margin-top:0;  
}

body{
    background:var(--grey);
    color: var(--white);
}

.logo{
    background-color: var(--orange);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: x-small;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo div{
    position: absolute;
}

.user-list{
    overflow-x: auto;
}
.profile{
    background-color: var(--brown);
    background-image: url('../default.png');
    background-size: cover;
    width: 60px;
    height: 60px;
    border: 2px solid var(--orange);
    border-radius: 50%;
}
.user-list li{
    margin-right: 20px;
}
.user-list .profile img{
    width: 90%;
    position: relative;
}
.user-list .main-list{
    border: none;
}
.user-list li i{
    background-color: var(--orange);
    color: var(--white);
    border: 2px solid var(white);
    border-radius: 50%;
    padding: 2px;
    position: relative;
    top: 60%;
    left: 70%;
}
.profile-name{
    font-size: small;
    text-align: center;
}

/* post begin*/
.post{
    background-color: var(--brown);
    border-radius: 10px;
    padding: 2px 15px 2px 15px ;
    margin-bottom: 20px;
}
.post .profile{
    width: 40px;
    height: 40px;
    border: none;
    background-color: var(--grey);
}

.post .content p{
    color: var(--light-grey);
    font-size: small;
}
.post .border-bottom{
    border-bottom: 1px solid var(--light-grey) !important;
}

.post .content-img img{
    width: 100%;
    border-radius: 15px;
}
.content-footer{
    color: var(--light-grey);
}

.post-img{
    height: 400px;
}
.post-img img{
    width: 100%;
}
/* post end*/

.modal{
    color: var(--black);
}

/* footer begin*/
footer{
    background-color: var(--grey);
    border-radius: 25px;
    color: var(--white);
    padding: 20px;
    position: fixed;
    width: 84%;
    top: 78%;
    margin: 5px;
}
footer i:hover{
    cursor: pointer;
}
footer .active-icon{
    color: var(--orange);
    display: grid;
    align-items: center;
}
footer .active-icon::after{
    content: "";
    background-color: var(--orange);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    justify-self: center;
    margin-top: 3px;
}
footer .fa-plus{
    position: absolute;
    background-color: var(--orange);
    border-radius: 50%;
    color: var(--white);
    padding: 15px;
    bottom: 70%;
    left: 43%;
}
/* footer end*/

