:root{
    --background:rgb(21, 20, 20);
    --background-inner:url('../img/bg.webp');
    --height:800px;
    --margin-top:0;
    --grey:rgb(255, 255, 255);
    --black:black;
    --trans-dark:rgba(44, 44, 44, 0.319);
    --white:white;
}

body{
    background:var(--background);

}
#root{
    background: var(--background-inner);
}
#intro-chat{
    display: grid;
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-self: center;
    height: fit-content;
    color: var(--black);
    text-align: center;
    height: 100%;

}

#col1, #dropdown{
    margin: var(--margin-top);
    background: #2e756c61;
    border-right: .3px solid var(--white);
}

#navIcon{
    margin-left: auto;
}
#search{
    width: 100%;
}
#search-input{    
    border-top-right-radius: 0;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 0;
}

#search span{
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    height: auto;
    padding: 20px;
    margin: 0;
}
.friend-item:hover {
    cursor: pointer;
    transition: .5s background-color;
    background-color: var(--trans-dark)
}

.list-img{
    color: var(--grey);
}
.active{
    background-color: var(--trans-dark)
}
.img-profile{    
    background: rgb(67, 67, 67);
    
    background-size: cover;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 1px solid grey;
    margin-right: 13px;
}



#col2{
    margin: var(--margin-top);

}

#col2 nav{
    background-color: var(--trans-dark);
    border-top: 0.1px solid var(--trans-dark);
    padding-bottom: 4px;
    padding-left: 20px;
}
#dropdown{
    left:0;
    position: absolute;
}
#dropdown-container{
    position: relative;
    background: var(--white);
}

.message-body{
    width:100%;
    height: 500px;
    overflow-y: scroll;
}
.message-body .img-profile{
    height: 50px;
    width: 50px;
    margin-left: 13px;
}
.message-body ul{
    display: grid;
}
.message-body ul .list-img{
    color: var(--white);
}
.message-body ul p{
    max-width: 300px;
}
.message-body ul .sender{
    justify-self: end;
}
.message-body ul .receiver{
    justify-self: start;    
}

.message-text-receiver{
    background-color: #2e2e2eba;
    padding: 8px;
    border-radius: 20px;
}
.message-text-sender{
    background-color: #292929b2;
    padding: 8px;
    border-radius: 20px;
}
.message{
    margin-top: 30px;
}
#message{
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    
}
.message button{
    border: none;
    border-bottom-right-radius: 6px;
    height: auto;
    padding: 10px;
    margin: 0;
}

#modalLogin, #modalSign{
    background:var(--background-inner);
    color: var(--white);
}
.modal-content{
    background: none;
    color: var(--black);
}
#modalLogin a, #modalSign a:hover{
    cursor: pointer;
}