<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="keywords" content="chatapp, chat, GCMI, Glory Carriers Ministry">
    <meta name="description" content="GCMI chat application">
    <meta name="author" content="GCMI">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/brands.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/solid.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/regular.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>
        {% block title %}{% endblock %}
    </title>

    <script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
</head>
<body>

    <div id="root" class="container-fluid"> 
        <main>
            <div class="d-flex justify-content-between align-items-center mt-4 mb-4">
                <div class="logo">
                    <div>GCMI <br> LOGO</div>
                </div>
                <div class="header-icon">
                    <i class="fa-solid fa-magnifying-glass me-2"></i>
                    <i class="fa-regular fa-bell"></i>
                </div>
            </div>

            <div class="">
                <ul class="user-list list-unstyled d-flex">
                    <li>
                        <div class="profile main-list">
                            <!--<img src="{% static 'img/bg.webp' %}" alt="user profile image">-->
                            <i class="border fa-solid fa-plus"></i>
                        </div>
                        <div class="profile-name">You</div>
                    </li>
                    
                    <li><div class="profile"></div><div class="profile-name">random</div></li>
                    <li><div class="profile"></div><div class="profile-name">random</div></li>
                    <li><div class="profile"></div><div class="profile-name">random</div></li>
                </ul>
            </div>

            <div class="post">
                <div class="author d-flex justify-content-between align-items-center mt-4 pb-3 border-bottom">
                    <div class="profile-name d-flex align-items-center">
                        <div class="profile me-3 shadow"></div>
                        <span class="fw-bold">username</span>
                    </div>
                    <div>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>

                <div class="content mt-4">
                    <p class="">This is indeed the best moment of my life! Never that it would be exiting...</p>
                    <div class="content-img">
                        <img class="container" src="{% static 'img/sample.png' %}" alt="sample image">
                    </div>
                </div>
                <div class="content-footer mb-4 d-flex justify-content-between align-items-center mt-4">
                    <div>
                        <span class="me-4"><i class="fa-solid fa-heart"></i>1.42</span>
                        <span><i class="fa-regular fa-comment"></i>124</span>
                    </div>
                    <div class="">
                        2 hours ago
                    </div>
                </div>
            </div>

            <div class="post">
                <div class="author d-flex justify-content-between align-items-center mt-4 pb-3 border-bottom">
                    <div class="profile-name d-flex align-items-center">
                        <div class="profile me-3 shadow"></div>
                        <span class="fw-bold">username</span>
                    </div>
                    <div>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>

                <div class="content mt-4">
                    <p class="">This is indeed the best moment of my life! Never that it would be exiting...</p>
                    <div class="content-img">
                        <img class="container" src="{% static 'img/sample.png' %}" alt="sample image">
                    </div>
                </div>
                <div class="content-footer mb-4 d-flex justify-content-between align-items-center mt-4">
                    <div>
                        <span class="me-4"><i class="fa-solid fa-heart"></i>1.42</span>
                        <span><i class="fa-regular fa-comment"></i>124</span>
                    </div>
                    <div class="">
                        2 hours ago
                    </div>
                </div>
            </div>

            <div class="post">
                <div class="author d-flex justify-content-between align-items-center mt-4 pb-3 border-bottom">
                    <div class="profile-name d-flex align-items-center">
                        <div class="profile me-1 shadow"></div>
                        <span class="fw-bold">username</span>
                    </div>
                    <div>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>

                <div class="content mt-4">
                    <p class="">This is indeed the best moment of my life! Never that it would be exiting...</p>
                    <div class="content-img">
                        <img class="container" src="{% static 'img/sample.png' %}" alt="sample image">
                    </div>
                </div>
                <div class="content-footer mb-4 d-flex justify-content-between align-items-center mt-4">
                    <div>
                        <span class="me-4"><i class="fa-solid fa-heart"></i>1.42</span>
                        <span><i class="fa-regular fa-comment"></i>124</span>
                    </div>
                    <div class="">
                        2 hours ago
                    </div>
                </div>
            </div>
        </main>
        <footer class="shadow">
            <div class="d-flex justify-content-between align-items-center p-4">
                <i class="fa-solid fa-home"></i>
                <i class="fa-regular fa-commenting"></i>
                <i class="fa-regular fa-user"></i>
            </div>
        </footer>
    </div>

    {% block content %}
    {% endblock %}
    <script type="module" src="{% static 'js/App.js' %}"></script>

</body>
</html>