{% extends 'base.html' %}
{% block title %}chat{% endblock title %}
{% load static %}
{% block content %}

<style>
    .chat-list{
        height: 80vh;
        overflow-y: scroll;
    }
    .author:hover{
        background-color: var(--trans-dark);
        cursor: pointer;
        border-radius: 10px;
        padding: 0 12px;
        transition: padding .8s, background-color .8s;
    }
    .author .logo{
        height: 20px !important; 
        width: 20px !important;
    }
    .author .logo div{
        position: relative;
    }
</style>


<main>

    <div class="row">
        <div class="col-md-5">
            <div class="">
                <div class="d-grid justify-content-left align-items-center mb-5 mt-4">
                    <div class="d-flex justify-content-between align-items-center">
                        <h2>Chats</h2>
                        <i class="fa fa-edit active-icon"></i>
                    </div>
                    <div class="mt-2">
                        <form action="" id="form-search">
                            <div class="col">
                                <input type="text" placeholder="search" id="search" class="rounded-5 w-100 p-2" >
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="container chat-list">
                
            </div>
        </div>

        <div class="col-md-7" style="border-left: 1px solid var(--white); padding-left:3px;">
            <div class="container">
                <div class="author d-flex justify-content-between align-items-center mt-4 pb-3">
                    <div class="profile-name d-flex align-items-center" id="user-friend">
                                        
                    </div>
                    <div >
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
            </div>
            
            <div class="">
                <div class="message-body container" id="message-body">
                </div>
            
                <form class="container message d-flex p-4 row" id="message-submit">                    
                    <input name="message" type="text" id="message" class="form-control border-0 container p-4 fs-4" placeholder="Type your message...">
                    <div class="">
                        <button type="submit" class=""><i class="fa fa-paper-plane fa-2x"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    
</main>

<script>
    let formSearch = document.querySelector('#form-search')
    let loadMessage = document.querySelectorAll('.author')
    formSearch.addEventListener('submit', (event)=>{
        event.preventDefault()
        console.log('searching...')
    })

    for (message of loadMessage){
        message.addEventListener('click', ()=>{
            test()
        })
    }
    function test(){
        console.log("loadMessage")
    }
</script>
<script type="module">
    import {getRecentChat, messageBox} from "{% static 'js/components/chat.js' %}"
    let chatlist= document.querySelectorAll('.chat-list')
    let message = document.querySelector('#message-body')
    chatlist.forEach((el)=>{
        el.insertAdjacentHTML('beforeEnd', getRecentChat())
    })
    message.insertAdjacentHTML('beforeEnd', messageBox())
</script>

{% include 'snippets/footer.html' %}
{% include 'snippets/modal.html' %}
{% endblock %}