{% extends 'base.html' %}
{% block title %}chat{% endblock title %}
{% load static %}
{% block content %}
<main>
    <div class="d-flex justify-content-between align-items-center mt-4 mb-4">
        <div class="logo">
            <div>GCMI <br> LOGO</div>
        </div>
        <div class="header-icon">
            <button class="btn btn-outline-light mt-0 align-items-center align-self-center" data-bs-toggle="modal" data-bs-target="#nav-menu">
                <i class="fa-solid fa-ellipsis-vertical fa-2x"></i>
            </button>
            
        </div>
    </div>

    <div class="">
        <ul class="container user-list list-unstyled d-flex" id="friendlist">
            <li>
                <div class="profile main-list">
                    <img src="{% static 'img/bg.webp' %}" alt="">
                    <i class="border fa-solid fa-plus"></i>
                </div>
                <div class="profile-name">You</div>
            </li>
            
            
            <li>
                <div class="profile"><img src="{% static 'default.png' %}" alt=""></div>
                <div class="profile-name">random</div>
            </li>

        </ul>
    </div>

    <section id="post">
    </section>

    
</main>

<script type="module">
    import { getUserFriend, postFeed } from "{% static 'js/components/chat.js' %}"
    let friendlist = document.querySelector('#friendlist')
    let post = document.querySelector('#post')
    friendlist.insertAdjacentHTML('beforeEnd', getUserFriend())
    post.insertAdjacentHTML('beforeEnd', postFeed())
</script>

{% include 'snippets/footer.html' %}
{% include 'snippets/modal.html' %}
{% include 'snippets/header_modal.html' %}
{% endblock content %}